<nav class="navbar navbar-toggleable-md navbar-light">
              <div class="container">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" href="/index">
                    <img src="http://img.lifestyler.co.kr/uploads/program/1/1454/skin/f131279831157707045(0).jpg">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                      </li>
                      <br>
                      <li class="nav-item">
                        <a class="nav-link" href="/index">편의점 꿀조합 |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/my_recipe"> 내가 만든 편의점 레시피 | </a>
                      </li>
                     <br>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           편의점 특별 아이템
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/cu">CU</a>
                          <a class="dropdown-item" href="/gs25">GS25</a>
                          <a class="dropdown-item" href="/seveneleven">Seven eleven</a>
                        </div>
                      </li>
                    </ul>
                  </div>
 </nav>
<!--nav end-->
<!--gs25 logo-->
<header class="gs25">
    <div class="gs25">
      <a href="http://gs25.gsretail.com/gscvs/ko/main">
        <%=image_tag"gs25.png"%>
        </a>
    </div>
</header>


  <div class="container_card">
       
       
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8807203000828_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">치즈안의블루</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8807203000835_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">그대안의초코</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801019513480_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">아이스블럭파인애플</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809256675862_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">허쉬다크&화이트칩</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809562160007_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">자꾸자꾸떡볶이</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801045574226_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">미니언즈옥수수치즈탕면</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809350883736_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">골든라떼컵</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809443710079_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">모짜렐라치즈핫도그</h4>
                      <p class="card-text">1,600원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801155724665_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">쌀눈요거트</h4>
                      <p class="card-text">500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801308447786_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">스폰지밥콘</h4>
                      <p class="card-text">2,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8805584224215_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">코코넛빙수</h4>
                      <p class="card-text">3,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801118253812_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">아이스워터멜론</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801111928007_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">짜먹는새콤달콤</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809046592652_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">타로밀크티</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801104305051_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">하늘가득유자레몬</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801104305075_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">하늘가득허니자몽블랙티</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801204204766_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">그레인무화과바</h4>
                      <p class="card-text">800원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8807203000729_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">복숭아스무디</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8807203000811_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">자바칩모카프라페</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809329050336_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">장미레몬에이드</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809399460448_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">미니언즈스틱(초코)</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809399460431_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">미니언즈스틱(핫치킨)</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801068108439_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">피자킹슈퍼슈프림</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801068108446_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">피자킹매콤불닭</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801114140147_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">풀무원촉촉란</h4>
                      <p class="card-text">1,700원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809347711004_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">제주탄산수청포도</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8805584224154_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">팥빙수</h4>
                      <p class="card-text">3,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809296883913_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">육칼육개장라면</h4>
                      <p class="card-text">1,600원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809296883890_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">공화춘짬뽕국밥</h4>
                      <p class="card-text">3,300원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809296883876_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">공화춘자장덮밥</h4>
                      <p class="card-text">3,300원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801062001576_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">크런키녹차</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801062001583_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">크런키초코</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801121771730_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">신선한스누피카라멜우유</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809389490073_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">불닭크리스피치킨</h4>
                      <p class="card-text">3,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801104304689_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">끌레도르와플콘녹차</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809443710062_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">떡갈비핫도그</h4>
                      <p class="card-text"></p>1,600원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8804888000396_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">베이컨육포</h4>
                      <p class="card-text">3,600원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809329050329_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">벚꽃스파클링</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801069400686_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">남양콘콘콘</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809027556055_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">코울슬로맛팝콘</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809247973342_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">호빵모양마쉬멜로초코</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809443210340_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">디즈니썸썸티카페</h4>
                      <p class="card-text">2,700원</p>
                    </div>
                  </div>
                </div>  
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801728105037_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">요구르트맛계란과자</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801308446208_002.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">맥주와밤새우지</h4>
                      <p class="card-text">3,500원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801244315149_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">말차아몬드초코볼</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801045573885_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">오모리부대찌개라면</h4>
                      <p class="card-text">1,800원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801045573878_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">오모리참치찌개라면</h4>
                      <p class="card-text">1,700원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801111926232_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">크라운콘녹차</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809443210296_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">벨지안초코퐁당</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8809256675183_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">스위스미스다크초콜릿</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801728105013_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">간장치킨맛스낵</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8805918007668_001.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">와사비맛참깨크래커</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>  
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://gs25appimg.gsretail.com/imgsvr/item/GD_8801104177023_024.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">끌레도르와플콘</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>  
                
          
   </div>