<DOCYPE html>
    <html>
        <head>
            
        </head>
        <body>
            <!--nav bar-->
            <nav class="navbar navbar-toggleable-md navbar-light">
              <div class="container">
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" href="/index">
                    <img src="http://img.lifestyler.co.kr/uploads/program/1/1454/skin/f131279831157707045(0).jpg">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                      </li>
                      <br>
                      <li class="nav-item">
                        <a class="nav-link" href="/index">편의점 꿀조합 |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/my_recipe"> 내가 만든 편의점 레시피 | </a>
                      </li>
                     <br>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           편의점 특별 아이템
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/cu">CU</a>
                          <a class="dropdown-item" href="/gs25">GS25</a>
                          <a class="dropdown-item" href="/seveneleven">Seven eleven</a>
                        </div>
                      </li>
                    </ul>
                  </div>
            </nav>
          <!--nav end-->
          <!--7eleven logo-->
          <header class="seven">
             <div class="seven">
               <a href="http://www.7-eleven.co.kr/">
                <%=image_tag"7eleven.png"%>
                </a>
             </div>
          </header>

            
            
            <!--cards-->
            <div class="container_card">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8805684/004885.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">아몬드 고구마 샐러드</h4>
                      <p class="card-text">2,200원</p>
                    </div>
                  </div>
                </div>  
            
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8806371/306190.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">허니크림치즈라떼</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801062/412082.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">골드식빵</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                  
                </div><div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801155/731526.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">민트라떼</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
               
               <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809350/883361.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">로얄밀크티</h4>
                      <p class="card-text">1,800원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801189/203884.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">수박우유</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801316/122446.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">스팸 김치덮밥</h4>
                      <p class="card-text">3,800원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801189/203952.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">고구마라떼</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809053/271953.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">미니 맛단무지</h4>
                      <p class="card-text">700원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801316/070099.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">꼬마 컵 맛김치</h4>
                      <p class="card-text">1,600원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809189/920565.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">갈릭 새우칩</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801906/165303.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">초코콘</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809350/885174.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">코코넛 망고</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801278/606701.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">꿀 누룽지 스낵</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809325/211816.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">톡톡 자몽주스</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8806371/302741.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">와라 샤인쿨 자두</h4>
                      <p class="card-text">300원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8806371/306305.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">신선한 우유</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809350/885167.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">코코넛 바나나</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8807617/123212.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">김치찐만두</h4>
                      <p class="card-text">2,300원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801128/230766.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">자이언트세븐</h4>
                      <p class="card-text">1,200원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809024/602243.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">육개장국밥</h4>
                      <p class="card-text">3,900원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8802876/200445.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">신당동1번지떡볶이</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809027/552620.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">체다치즈맛팝콘</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8802876/203330.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">미니쌀약과</h4>
                      <p class="card-text"> 700원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809214/406996.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">리얼트러플초코렛</h4>
                      <p class="card-text"> 2,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801728/104177.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">불닭맛스낵</h4>
                      <p class="card-text"> 1,000원</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8805684/004892.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">콘샐러드</h4>
                      <p class="card-text"> 2,200원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8805684/004915.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">망고푸딩</h4>
                      <p class="card-text">2,200원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8805684/004908.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">사과푸딩</h4>
                      <p class="card-text">2,200원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801165/011885.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">가쓰오우동</h4>
                      <p class="card-text">2,500원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801316/122668.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">규동</h4>
                      <p class="card-text">3,900원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801728/104221.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">허니버터감자스틱</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801728/104184.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">까망베르치즈볼</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8805918/007293.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">크런치바나나칩</h4>
                      <p class="card-text">2,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8802876/203842.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">감귤감자칩</h4>
                      <p class="card-text"> 1,500원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801728/104498.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">햄버거맛감자스틱불고기</h4>
                      <p class="card-text">1,500원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801085/068679.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">김치쏭쏭칼국수</h4>
                      <p class="card-text">1,800원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809116/740310.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">생강벌꿀차원컵</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8809116/740297.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">한라봉유자차원컵</h4>
                      <p class="card-text">1,000원</p>
                    </div>
                  </div>
                </div>
                
                 <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-3 px-0 px-md-2">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="http://www.7-eleven.co.kr/upload/product/8801118/795633.1.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">새우토마토스파게티</h4>
                      <p class="card-text">3,500원</p>
                    </div>
                  </div>
                  
                  
                </div>
        
        </body>
    </html>